ul, ol {
  margin: 0 0 10px 25px;
  padding: 0;
}

.center {
	text-align: center;
}

.alt {
  color: #666666;
  font-family: Georgia,serif;
  font-style: italic;
  font-weight: normal;
}
.button {
    text-decoration: none;
}